{% extends "base.html" %}
{% block content %}
    {% load static %}
    <h3 class="form-title">Cambio de contraseña</h3>
    <hr class="divider"></hr>

    {% include "authentication_errors.html" %} 
    <form autocomplete="off" method="POST" class="form-style uniform">
        {% csrf_token %}
        <div class='input-form'>
            <div class='input-element form-group'>
                <label> Contraseña actual </label> {{ form.past_password }}
            </div>
            <div class='input-element form-group'>
                <label> Nueva contraseña </label> {{ form.new_password }}
            </div>
            <div class='input-element form-group'>
                <label> Confirmar contraseña </label> {{ form.confirm_password }}
            </div>
        </div>
        <button class="form-button" type="submit">Confirmar cambios</button>
    </form>
{% endblock content %}