{% extends "base.html" %}
{% block content %}
    <h3 class="form-title">Formulario de ingreso de nuevas credenciales</h3>
    <hr class="divider"></hr>
    {% include "authentication_errors.html" %}
    {%if validlink %}
    <form form autocomplete="off" method="POST" class="form-style">
        {% csrf_token %}
        <div class='input-form'>
            <div class='input-element'>
                <label> Nueva contraseña </label> {{ form.new_password1 }}
            </div>
            <div class='input-element'>
                <label> Confirmar contraseña </label> {{ form.new_password2 }}
            </div>
        </div>
        <button class="form-button" type="submit">Confirmar cambios</button>
    </form>
    {% else %}
    <p>Link caducado, por favor solicite una nueva recuperación de contraseña.</p>
    {% endif %}
{% endblock content %}