{% extends "base.html" %}
{% block content %}
    <h3 class="form-title">Formulario de recuperación de credenciales</h3>
    <hr class="divider"></hr>
    {% include "authentication_errors.html" %}
    <form autocomplete="off" method="POST" class="form-style">
        {% csrf_token %}
        <div class='input-form'>
            <div class='input-element'>
                <label> Correo electrónico </label> {{ form.email }}
            </div>
        </div>
        <button class="form-button" type="submit">Cambiar contraseña</button>
    </form>

    <div class="login-links">
        <a class="link-style" href="{% url 'authentication:login' %}">Iniciar sesión</a>
    </div>
{% endblock content %}
