.button-transparent {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 100%;
    text-align: left;
}

.dropdown-menu-table {
    width: 100%;
}
